[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0075: Simplify conditional expression
dotnet_diagnostic.IDE0075.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
